<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/update}" method="post" >
	<p>アイコン<br>
	<img th:src="*{user.icon}">
	<input type="image" src="button.png" name="icon" >
	</p>
	<p>メールアドレス<br> 
	<input type="text" th:value="${user.mail}" >
	<input type="image" src="button.png" name="mail" >
	</p>
	<p>ユーザーネーム<br>
	<input type="text" th:value="${user.user_name}">
	<input type="image" src="button.png" name="user_name" >
	</p>

	<input type="submit" name="logout" value="ログアウト">
</form>


</body>
</html>